<% if @q.name_or_address_cont.present? %>
  <p class="text-gray-700 mt-5">「<%= @q.name_or_address_cont %>」の検索結果：<span class="font-medium"><%= @filtered_shops.length %>件</span></p>
<% end %>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-5 border-t pt-10">
    <% @filtered_shops.each do |shop| %>
      <div class="bg-white shadow-sm border group rounded">
        <a href="/shops/<%= shop.id %>" data-turbo="false">
          <div class="relative w-full h-36 flex items-center justify-center overflow-hidden">
            <% if shop.photo_urls.any? %>
              <%= image_tag shop.photo_urls.first, alt: "#{shop.name}の画像", class: "object-cover w-full h-full transition-transform duration-300 hoverable:group-hover:scale-105 ghoverable:roup-hover:opacity-85", loading: "lazy" %>
            <% end %>
            <!-- bookmark_buttonsを配置 -->
            <object class="absolute top-4 right-4">
              <%= render 'bookmark_buttons', { shop: shop } %>
            </object>
          </div>
          <div class="p-4 pb-8 flex flex-col flex-grow">
            <div class="flex justify-between items-center">
              <p class="text-xs text-secondary dark:text-neutral-500 mr-2"><%= shop.simplified_address %></p>
            </div>
            <h3 class="text-base font-semibold mb-1 line-clamp-2"><%= shop.name %></h3>
            <div class="flex items-center mb-2">
              <%= render_rating(shop) %>
            </div>
            <%= experience_tag(shop) %>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <%= paginate @filtered_shops %>

  <% if @filtered_shops.blank? %>
    <p class="text-center mt-8 text-sm sm:text-base">指定された条件ではショップが見つかりませんでした。<br>
      検索キーワードを変更して、再度検索してください。</p>
  <% end %>
