<div class="mt-8 flex items-center justify-end">
  <%= search_form_for @q, html: { id: 'filter-form', method: :get }, class: "flex items-center" do |f| %>
    <%= hidden_field_tag 'q[name_or_address_cont]', params.dig(:q, :name_or_address_cont) %>

    <div class="form-control justify-end items-center mr-4">
      <label class="label cursor-pointer items-center">
        <span class="label-text mr-2">香水が作れるショップのみ表示</span>
        <input type="checkbox" name="q[has_experience_eq]" value="true" class="toggle toggle-primary"
              <%= params.dig(:q, :has_experience_eq) == 'true' ? 'checked' : '' %>
              onchange="this.form.submit();" />
      </label>
    </div>

    <div>
      <select name="q[s]" class="select select-bordered min-h-2 h-8 rounded border-gray-400" onchange="this.form.submit()">
        <option value="" <%= "selected" if params.dig(:q, :s).blank? %>>並び替え（標準）</option>
        <option value="rating" <%= "selected" if params.dig(:q, :s) == "rating" %>>評価が高い順</option>
        <option value="reviews" <%= "selected" if params.dig(:q, :s) == "reviews" %>>口コミが多い順</option>
      </select>
    </div>
  <% end %>
</div>
