<div class="max-w-[1400px] mx-auto">
  <div class="max-w-2xl mx-auto">

<div class="mt-4">
  <%= render "search_form", q: @q, url: search_shops_path %>
  <div class="text-center">
<%= link_to map_shops_path, class: "btn btn-primary mt-3 w-44 flex items-center justify-center" do %>
  <span class="material-symbols-outlined mr-2">location_on</span>
  現在地から探す
<% end %>
  </div>
</div>

<% if @filtered_shops.any? %>
  <ul class="space-y-6">
    <% @filtered_shops.each do |shop| %>
      <li class="flex p-4 border rounded shadow items-center">
        <div class="mr-4 w-32 h-32 overflow-hidden">
          <% if shop.photo_urls.any? %>
            <%= image_tag shop.photo_urls.first, alt: "#{shop.name}の画像", class: "w-full h-full object-cover" %>
          <% else %>
            <div class="w-full h-full bg-gray-200 flex items-center justify-center">
              <span class="text-gray-500">No image</span>
            </div>
          <% end %>
        </div>
        <div class="flex flex-col justify-between flex-grow">
          <h3 class="text-lg font-semibold mb-1"><%= shop.name %></h3>
          <p class="text-sm">住所: <%= shop.address %></p>
          <p class="text-sm">評価: <%= shop.rating %></p>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <% if params[:q].present? %>
    <p class="text-center mt-8">ご指定の条件に該当するショップは見つかりませんでした。<br>
    検索条件を変更して、再度検索してください。</p>
  <% end %>
<% end %>

  </div>
</div>
