<header class="w-full h-16 shadow">
  <div class="navbar md:px-0">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl">FragranceMe</a>
    </div>
    <!-- メニュー -->
    <div class="flex-none">
      <ul class="menu menu-horizontal flex items-center text-black">
        <li>
          <details class="relative">
            <summary class="mr-2">メニュー</summary>
            <ul class="bg-my_white px-1 py-2 rounded-md text-sm top-7 right-1 leading-relaxed w-48 z-50">
              <li><%= link_to "ホーム", root_path %></li>
              <li><%= link_to "ショップ検索", shops_path %></li>
              <li><%= link_to "お気に入り", bookmarks_shops_path %></li>
              <li><%= link_to "香りタイプ診断", start_diagnoses_path %></li>
              <li><%= link_to "マイページ", profile_path, data:{turbo: false} %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
</header>
