<!-- PCメニュー -->
<aside id="default-sidebar" class="bg-base-400 shadow-lg fixed top-0 left-0 h-full z-10 w-16 transition-all duration-200 ease-in-out hidden lg:block">
  <div class="h-full pt-20 w-full overflow-hidden" style="background-color: rgba(251, 250, 250, 0.9);">
    <ul class="h-full">
      <li class="group h-16 menu-item flex items-center">
        <%= link_to shops_path, class: "flex items-center p-4 transition", style: ("font-variation-settings: 'FILL' 1" if current_page?('/shops') || (request.path.start_with?('/shops/') && params[:id])) do %>
          <span class="material-symbols-outlined" style="font-size:29px; <%= 'font-variation-settings: \'FILL\' 1, \'wght\' 500; color: #e57777;' if current_page?('/shops') || (request.path.start_with?('/shops/') && params[:id]) %>">search</span>
          <span class="flex-1 ml-3 text-sm text-transition" style="<%= 'color: #e57777;' if current_page?('/shops') || (request.path.start_with?('/shops/') && params[:id]) %>">一覧から探す</span>
        <% end %>
      </li>

      <li class="group h-16 menu-item flex items-center">
        <%= link_to map_shops_path, class: "flex items-center p-4 transition", style: ("font-variation-settings: 'FILL' 1;" if current_page?('/map_shops')) do %>
          <span class="material-symbols-outlined" style="font-size:29px; <%= 'font-variation-settings: \'FILL\' 1; color: #e57777;' if current_page?('/shops/map') %>">map_search</span>
          <span class="flex-1 ml-3 text-sm text-transition" style="<%= 'color: #e57777;' if current_page?('/shops/map') %>">現在地から探す</span>
        <% end %>
      </li>

      <li class="group h-16 menu-item flex items-center">
        <%= link_to bookmarks_shops_path, class: "flex items-center p-4 transition", style: ("font-variation-settings: 'FILL' 1;" if current_page?('/bookmarks_shops')) do %>
          <span class="material-symbols-outlined" style="font-size:29px; <%= 'font-variation-settings: \'FILL\' 1; color: #e57777;' if current_page?('/shops/bookmarks') %>">favorite</span>
          <span class="flex-1 ml-3 text-sm text-transition" style="<%= 'color: #e57777;' if current_page?('/shops/bookmarks') %>">お気に入り</span>
        <% end %>
      </li>

      <li class="group h-16 menu-item flex items-center">
        <%= link_to start_diagnoses_path, class: "flex items-center p-4 transition", style: ("font-variation-settings: 'FILL' 1;" if current_page?('/start_diagnoses')) do %>
          <span class="material-symbols-outlined" style="font-size:31px; <%= 'font-variation-settings: \'FILL\' 1; color: #e57777;' if current_page?('/diagnoses/start') %>">edit_note</span>
          <span class="flex-1 ml-3 text-sm text-transition" style="<%= 'color: #e57777;' if current_page?('/diagnoses/start') %>">香りタイプ診断</span>
        <% end %>
      </li>

      <li class="group h-16 menu-item flex items-center">
        <%= link_to profile_path, class: "flex items-center p-4 transition" do %>
          <span class="material-symbols-outlined" style="font-size:30px; <%= 'font-variation-settings: \'FILL\' 1; color: #e57777;' if current_page?('/profile') %>">person</span>
          <span class="flex-1 ml-3 text-sm text-transition" style="<%= 'color: #e57777;' if current_page?('/profile') %>">マイページ</span>
        <% end %>
      </li>
    </ul>
  </div>
</aside>

<!-- SPメニュー -->
<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-gray-100 shadow border-t border-gray-200 block lg:hidden">
  <div class="grid h-full max-w-lg grid-cols-5 mx-auto font-medium">
    <%= link_to shops_path, class: "inline-flex flex-col items-center justify-center px-1 hover:bg-gray-50" do %>
      <span class="material-symbols-outlined text-2xl">search</span>
      <span class="text-[9px]">一覧から探す</span>
    <% end %>

    <%= link_to map_shops_path, class: "inline-flex flex-col items-center justify-center px-1 hover:bg-gray-50" do %>
      <span class="material-symbols-outlined text-2xl">map_search</span>
      <span class="text-[9px]">現在地から探す</span>
    <% end %>

    <%= link_to bookmarks_shops_path, class: "inline-flex flex-col items-center justify-center px-1 hover:bg-gray-50" do %>
      <span class="material-symbols-outlined text-2xl">favorite</span>
      <span class="text-[9px]">お気に入り</span>
    <% end %>

    <%= link_to start_diagnoses_path, class: "inline-flex flex-col items-center justify-center px-1 hover:bg-gray-50" do %>
      <span class="material-symbols-outlined text-2xl">edit_note</span>
      <span class="text-[9px]">香りタイプ診断</span>
    <% end %>

    <%= link_to profile_path, class: "inline-flex flex-col items-center justify-center px-1 hover:bg-gray-50" do %>
      <span class="material-symbols-outlined text-2xl">person</span>
      <span class="text-[9px]">マイページ</span>
    <% end %>
  </div>
</div>